/* Contenedor principal de la página */
.page-container {
  display: flex; /* Usamos Flexbox para la distribución */
  justify-content: space-between;
  align-items: center; /* Alinea los elementos verticalmente */
}

/* Columna izquierda */
.left-column {
  flex: 1; /* Ocupa el 50% del ancho */
  margin-right: 20px;
}

/* Columna derecha */
.right-column {
  flex: 1; /* Ocupa el 50% del ancho */
  display: flex;
  flex-direction: column; /* Coloca el texto y los botones en una columna */
  align-items: center; /* Centra los elementos dentro de la columna */
  justify-content: center; /* Alinea los elementos verticalmente */
  text-align: center; /* Centra el texto */
}

/* Contenedor de los botones */
.contenedor_ingreso{
  width: 50%;
  gap: 10px;
  display: grid;
  justify-content: center;
  margin-bottom: 2em;
  margin-left: 15em;
  margin-right: 15em;
  padding: 1em;
  text-align: center  ;
  background-color: rgba(105, 105, 105, 0.768);
  border: 0.5em solid greenyellow;
  border-radius: 1em;
}

.contenedor_ingreso a{
  text-align: center;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 1em;
}

.img_v1 {
  animation: border-color-change 4s infinite;
  border-radius: 3rem;
  width: 400px;
  height: 400px;
}

.title1 {
  font-size: 4rem;
  margin-top: 0px;
}

.titulo-page {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
