.contenedor_message{
  color:#1a1a1a;
  display: grid;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 2em;
  padding: 4em;

  width:max-content;
  align-items: center;
  text-align: left;
  background-color: rgba(105, 105, 105);
  
  border-radius: 1em;
  border: 0.5em solid greenyellow;

  /* Texto dentro del contenedor */
  color: white;
  font-size: 1.4rem;
}

/* Clase personalizada para la segunda línea */
.mensaje-secundario {
  text-align: center; /* Centra el texto */
  font-size: 16px;    /* Tamaño de fuente más pequeño */
  color: #ffffff;     /* Cambia el color a un azul (opcional) */
  margin-top: 10px;   /* Añade un margen superior para separar las líneas */
}
