#root {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  align-items: center;
  display: grid;
  justify-content: center;
}

#StonksLogo{
  width: 5em;
  height: 5em;
  margin: 1em;
  border-radius: 3rem;
  border: 0.2em solid greenyellow;
}

.me-auto{
  display: flex;
  align-items: center;
}


@keyframes border-color-change {
  0% { border: 1rem solid purple; }
  25% { border: 1rem solid yellowgreen; }
  50% { border: 1rem solid greenyellow; }
  75% { border: 1rem solid yellowgreen; }
  100% { border: 1rem solid purple; }
}

#mega_title{
  text-shadow: 0.7rem 0.7rem 0.5rem black;
  animation: color-change 4s infinite;;
}

@keyframes color-change {
  0% { color: purple; }
  25% { color: yellowgreen; }
  50% { color: greenyellow; }
  75% { color: yellowgreen; }
  100% { color: purple; }
}


.paginacion{
  background-color: rgba(105, 105, 105, 0.768);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  
}

.paginacion ul{
  background-color: rgba(105, 105, 105, 0);
}

.paginacion a{
  color: whitesmoke;
  border-radius: 0.3rem;
  border: 0.2em solid #1a1a1a;
  background-color: #1a1a1a;;
  font-weight: bolder;
  text-decoration: none;
  padding-left: 2em;
  padding-right: 2em;  
  
}

.paginacion a:hover{
  color: white;
  background-color: #1a1a1a;
  border-radius: 0.5em;
}

.actual_paginacion{
  font-weight: bold;
  color: #1a1a1a;
  text-align: center;
  border-radius: 0.5em;
}

.col_paginacion{
  margin-left: 1rem;
  list-style-type: none;
  margin-right: 1rem;
}

.contenedor_centrado{
  display: grid;
  justify-content: center;
}
