/* Estilo para los botones de la paginación */
.paginacion {
    display: flex;
    justify-content: center; /* Centra los botones de paginación */
    align-items: center; /* Alinea los elementos verticalmente */
    gap: 10px; /* Añade espacio entre los botones */
    margin-top: 20px; /* Espacio entre la tabla y la paginación */
  }
  
  .col_paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination {
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    display: flex;
    height: 50px;

  }
  
  .pagination .page-item {
    background-color: #555; /* Fondo gris oscuro */
    border-radius: 5px;
    margin: 0 5px;
  }
  
  .pagination .page-link {
    color: white !important; /* Enlaces blancos */
    background-color: #555; /* Fondo gris oscuro */
    border: none;
    padding: 8px 15px; /* Tamaño de los botones */
  }
  
  .pagination .page-link:hover {
    background-color: #777; /* Fondo más claro al pasar el mouse */
    border-radius: 5px;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #4CAF50; /* Resaltar la página activa */
    border: none;
  }
  
  .pagination .page-item.disabled .page-link {
    background-color: #444; /* Fondo oscuro para los elementos deshabilitados */
    pointer-events: none; /* Desactiva los clics */
  }
  