#root {
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  align-items: center;
}
body {
  margin: 0;
  right: auto;
  left: auto;
  margin: auto;
  display: ruby-base;
}
#StonksLogo{
  width: 5em;
  height: 5em;
  margin: 1em;
  border-radius: 3rem;
}

.contenedor_navbar{
  width:auto;
  margin-top: 0;
  margin-bottom: 2em;
  background-color: dimgray;
  
}

nav{
  font-size: large;
  font-weight: bolder;
  width:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a{
  color: white;
  align-self: center;
  font-weight: bolder;
  text-decoration: none;
  padding-left: 2em;
  padding-right: 2em;  
}
.me-auto{
  display: flex;
  align-items: center;
}


.img_v1 {
  width: 300px;
  height: 300px;
}
